@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
.signup {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start; }

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: #313942; }

.signup-route-logo {
  width: 500px;
  height: auto; }

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .signup-form input {
    width: 400px;
    height: 25px;
    margin-bottom: 15px;
    border: solid 1px #313942;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    font-size: 12pt;
    font-family: "Titillium Web", sans-serif; }
  .signup-form button {
    width: 412px;
    height: 35px;
    border-radius: 4px;
    margin-top: 20px;
    background: #5EC7DB;
    border: none;
    color: white;
    font-size: 12pt;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600; }
    .signup-form button:disabled {
      width: 412px;
      height: 35px;
      border-radius: 4px;
      margin-top: 20px;
      background: lightgray;
      border: none;
      color: white;
      font-size: 12pt;
      font-family: "Titillium Web", sans-serif;
      font-weight: 600; }

.other-actions {
  width: 412px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px; }
  .other-actions a {
    color: #313942; }

.signup-confirmation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .signup-confirmation-form input {
    width: 400px;
    height: 25px;
    margin-bottom: 15px;
    border: solid 1px #313942;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    font-size: 12pt;
    font-family: "Titillium Web", sans-serif; }
  .signup-confirmation-form button {
    width: 412px;
    height: 35px;
    border-radius: 4px;
    margin-top: 20px;
    background: #5EC7DB;
    border: none;
    color: white;
    font-size: 12pt;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600; }
  .signup-confirmation-form div {
    width: 412px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .signup-confirmation-form div p {
      margin: 0; }

.error-message {
  color: red;
  width: 45%;
  text-align: center;
  margin: 1em; }
