@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700');

$route-teal: #5EC7DB;
$route-dark: #313942;

$background: #1A1E37;
$sections: #262C46;
$headers: #303757;
$maps: #445072;
$text: #9799A8;
$banner: #EEEFF2;

$purple: #8287ED;
$teal: #45DCE5;

$pink: #FF6FB4;
$orange: #FF946E;

$violet: #645FE8;
$magenta: #C547FA;

$lavender: #AA54F8;
$pink-red: #E64688;


$salmon: #F6738C;
$hot-orange: #FE757E;
$hot-purple: #E858F5;

$awesome-blue: #009fd9;
$awesome-blue--disabled: rgba(0, 159, 217, 0.3);

$font: 'Titillium Web', sans-serif;

$widget-back: #F3F3F3;
$widget-shadow: #DBDBDB;
$widget-text: #69727b;