@import '../../_colors.scss';

.billing-wrap {
    width: 100vw;
    height: 100vh;
    background: $background;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.billing-header {
    width: 95vw;
    border-bottom: solid 1px white;
    margin-top: 60px;
    h2 {
        font-weight: normal;
        color: white;
    }
}

.billing {
    width: 95vw;
    background: $sections;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
}

.billing-table {
    padding-top: 30px;
    padding-bottom: 20px;
}

.billing-table-head {
    width: 90vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: solid 1px $text;
    margin-bottom: 5px;
    // border: solid red;
    p{
        width: 20vw;
        color: $text;
        text-align: left;
        a{
            text-decoration: none;
            color: white;
            font-weight: normal;
            text-align: left;
        }
    }
}

.billing-table-body {
    width: auto;
    // border: solid gold;
    overflow: scroll;
    scroll-behavior: smooth;
}
.billing-table-body-rows {
    overflow-y: scroll;
    width: auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    border-bottom: solid 1px $text;
    margin-bottom: 5px;
    p{
        width: 20vw;
        color: $text;
        text-align: left;
    }
}

.add-billing-type-button {
    width: 90vw;
    margin: 20px 0px 20px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
        width: 120px;
        height: 25px;
        border: none;
        border-radius: 5px;
        font-size: 10pt;
        background: $teal;
        color: $background;
        outline: none;
        cursor: pointer;
        &:hover {
            background: $maps;
            transition: ease-in-out 0.3s;
            color: $teal;
        }
    }
}

.add-your-billing {
    color: white;
}