@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600,700");
.aws-error-message {
  color: red;
  text-align: center;
  margin: 1em; }

.reset-confirmation-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .reset-confirmation-form input {
    width: 400px;
    height: 25px;
    margin-bottom: 15px;
    border: solid 1px #313942;
    border-radius: 4px;
    padding: 5px;
    outline: none;
    font-size: 12pt;
    font-family: "Titillium Web", sans-serif; }
  .reset-confirmation-form button {
    width: 412px;
    height: 35px;
    border-radius: 4px;
    margin-top: 20px;
    background: #5EC7DB;
    border: none;
    color: white;
    font-size: 12pt;
    font-family: "Titillium Web", sans-serif;
    font-weight: 600; }
  .reset-confirmation-form div {
    width: 412px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .reset-confirmation-form div p {
      margin: 0; }
