@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}
